{% extends "base.html" %}
{% block body %}
<h1>{{ t.home_hello }} {{ user.display }}</h1>
<p class="sub">{{ t.home_sub }}</p>

{% if apps %}
  <div class="card">
    <div class="table-wrap">
      <table class="table">
        <tr><th>{{ t.home_col_app }}</th><th>{{ t.home_col_address }}</th><th></th></tr>
        {% for a in apps %}
          <tr>
            <td><strong>{{ a.name }}</strong>
              {% if a.description %}<br><span class="muted">{{ a.description }}</span>{% endif %}
            </td>
            <td class="mono">{{ a.host }}</td>
            <td><a class="btn btn-small" href="https://{{ a.host }}/">{{ t.home_open }}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% else %}
  <div class="card">
    <p style="margin:0">{{ t.home_empty }}</p>
  </div>
{% endif %}

<p class="note">{{ t.home_note }}</p>
{% endblock %}
